@mark-color2: #008894;
@mark-color3: #533f40;
@mark-color4: #7f6761;
@mark-color: #b0887e;




body {
    // display: flex;
    // display: flex;
    // justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    // background: rgb(238, 238, 238);
    // box-sizing: border-box;
}

.wrap-global {
    // display: flex;
    // flex-direction: column;
    max-width: 1200px;
    margin: auto auto;
    // border: 1px solid red;
    padding-right: 45px;
    padding-left: 37px;
}

// .title-page {
//     text-align: center;
//     font-size: 40px;
//     margin: 20px;
// }

.article-title {
    display: grid;

    grid-template-areas:
        "legend-title     input-title              input-title"
        "legend-filename  input-filename           input-filename"
        "notuse           filename-manual-check    filename-manual-check-legend";
    grid-template-columns: 120px 60px 1fr;
    grid-template-rows: 60px 60px 32px;

    &-legend {
        &-title {
            grid-area: legend-title;
            // border: 1px solid red;
            justify-self: end;
            align-self: center;
        }

        &-filename {
            grid-area: legend-filename;
            // border: 1px solid red;
            justify-self: end;
            align-self: center;
        }
    }

    &-input {
        &-title {
            grid-area: input-title;
            // border: 1px solid red;
            padding-left: 20px;
            // padding-right: 30px;
            align-self: center;
        }

        &-filename {
            grid-area: input-filename;
            // border: 1px solid red;
            padding-left: 20px;
            // padding-right: 30px;
            align-self: center;
        }
    }

    &-filename-manual-check {
        // display: inline;
        grid-area: filename-manual-check;
        // border: 1px solid red;
        // align-self: center;
        justify-self: start;
        width: 68px;

        &-legend {
            grid-area: filename-manual-check-legend;
            align-self: center;
        }
    }
}

input {
    height: 30px;
    width: 100%;
    // margin-right: 100px;
    // background: rgb(219, 219, 219);
    // border: none;
    font-size: 25px;
}

p {
    display: inline;
}

h1 {
    font-size: 60px;
    color: @mark-color;
    text-align: center;
}

h2 {
    text-align: center;
    color: @mark-color;
    margin-top: 80px;
}

textarea {
    // max-width: 1193px;
    width: 100%;
    height: 300px;
    // margin-left: 25px;
    // margin-right: 60px;
    resize: none;
}

// .decoration {
//     border: 2px solid @mark-color;
//     border-width: 30px 2px 2px 2px;
// }

button {
    font-size: 15px;
    background: @mark-color;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 5px;
    margin-left: 3px;
}

.button-add-link {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.tags-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

// .tags-group {
//     padding: 0 40px 10px 0;
//     // max-width: 320px;
//     // width: 400px;
//     margin: 0;
// }

.tags-elem {
    display: flex;
    // flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    // margin-bottom: 5px;
    padding: 0 40px 15px 0;
    // max-width: 250px;
    // min-width: 250px;
    width: 250px;
    // width: 400px;
    margin: 0;
}


li:not(:last-of-type) {
    margin-bottom: 10px;
}

.checkbox {
    cursor: pointer;
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
}

.label {
    cursor: pointer;
    margin-left: 10px;
    // margin: 0;
}

.final-block{
    width: 100%;
    height: 150px;
}

.border{
    border: 1px solid black;
}

.technology {
    display: flex;
}

.partition{
    display: flex;
}

select{
    width: 100%;
}

.button-edit{
    display: flex;
    width: 250px;
    justify-content: flex-end;
    button{
        width: 100%;
    }
}
