@colortheme: #009b8c;
@colorgray: #b0b0b0;
@colormarking: rgba(255, 0, 0, 0.0);

.search-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    background: @colortheme;
}
.search-block-wrap {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    // background: @colormarking;
    display: flex;
    width: 1500px;
    margin-left: 20px;
    margin-right: 20px;
    height: 45px;
}
// .search-block-wrap select {
//     width: 200px;
// }
.search-block-wrap input {
    flex-grow: 1;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.global-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: auto auto;
    background-color: @colormarking;
}

hr {
    border: none; 
    background-color: @colortheme; 
    height: 2px;
    width: 100%;
    background-color: @colortheme;
}

p {
    font-size: 25px;
    margin: 10px 0 0 0;
    background-color: @colormarking;
}

h1 {
    font-size: 50px;
    margin: 0;
    font-family: monospace;
    background-color: @colormarking;
    // text-align: center;
    // display: inline;
}

h5 {
    font-size: 20px;
    margin: 0;
    color: @colorgray;
    background-color: @colormarking;
}

h2{
    margin: 50px 0 0 0;
    font-size: 35px;
    font-weight: 100;
    background-color: @colormarking;
}

.title {
    display: flex;
    background-color: @colormarking;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    // margin: 0;

    span {
        background-color: @colorgray;
        color: white;
        padding: 5px;
        margin-right: 5px;
        font-weight: 700;
    }
}

.sintaxis {
    // display: flex;
    width: 100%;
    background-color: @colormarking;
    // justify-content: flex-start;
    header{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // margin: 0;
    }
}
