.search-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background: #009b8c;
}
.search-block-wrap {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  width: 1500px;
  margin-left: 20px;
  margin-right: 20px;
  height: 45px;
}
.search-block-wrap input {
  flex-grow: 1;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.global-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  min-width: 700px;
  margin: auto auto;
  background-color: rgba(255, 0, 0, 0);
  padding: 30px;
}
hr {
  border: none;
  height: 2px;
  width: 100%;
  background-color: #009b8c;
}
p {
  font-size: 25px;
  margin: 10px 0 0 0;
  background-color: rgba(255, 0, 0, 0);
}
h1 {
  font-size: 50px;
  margin: 0;
  font-family: monospace;
  background-color: rgba(255, 0, 0, 0);
}
h5 {
  font-size: 20px;
  margin: 0;
  color: #b0b0b0;
  background-color: rgba(255, 0, 0, 0);
}
h2 {
  margin: 50px 0 0 0;
  font-size: 35px;
  font-weight: 100;
  background-color: rgba(255, 0, 0, 0);
}
.title {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 0, 0, 0);
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
.title span {
  background-color: #b0b0b0;
  color: white;
  padding: 5px;
  margin-right: 5px;
  font-weight: 700;
  height: 15px;
}
.title-header {
  display: flex;
  align-items: center;
}
.highlight {
  font-size: 25px;
}
.sintaxis {
  width: 100%;
  background-color: rgba(255, 0, 0, 0);
}
.sintaxis header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.sintaxis .code {
  background-image: linear-gradient(90deg, transparent 40px, #aaa 40px, #aaa 40px, transparent 43px), linear-gradient(#eee 1px, transparent 0px), linear-gradient(90deg, #eee 1px, transparent 0px);
  background-size: 100% 100%, 20px 20px, 20px 20px;
  background-position: 0 0, -1px -1px, -1px 1px;
  margin: 30px;
  counter-reset: section;
}
.sintaxis .code .highlight {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: 300;
}
.sintaxis .code .highlight .jsMethod {
  color: blue;
}
.highlight::before {
  counter-increment: section;
  content: counter(section);
  margin: 0 20px 0 20px;
  color: #bbb;
}
